@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">pre-qualified for credit card</h1>
    <div>
        <p>Are you looking to apply for a new credit card? Have a look at our eligibility checker and see what you’re likely to be accepted for.</p>
        <p>Being turned down for a credit card can negatively affect your credit score. Our tools will let you know whether you’re likely to be accepted without impacting your credit score.</p>
        <p>
            It’s quick and easy to use, so pick the one for you and find out today.<br />
        </p>
        <p><a class="btn btn-lg btn-primary" role="button" asp-controller="CheckEligibility" asp-action="Index">Click Here for pre-qualification tool for credit cards</a></p>

       
    </div>
</div>




