@model CreditCardsPreQualificationWeb.Models.PersonalInfoViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3 class="control-label col-md-10">Sorry! @Model.FirstName @Model.LastName You have checked the pre-qualification credit cards details</h3>
            <br/>
                    

        </div>

    </div>
</div>

